# Created by venv; see https://docs.python.org/3/library/venv.html

/.venv311

*.mlpackage

/DoglyadML/llm_research/model

/DoglyadML/ner_research/dataset/train
/DoglyadML/ner_research/dataset/validation
/DoglyadML/ner_research/dataset/dataset_dict.json
/DoglyadML/ner_research/dataset/train.csv
/DoglyadML/ner_research/dataset/validation.csv
/DoglyadML/ner_research/model